In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast

In [30]:
Credits = pd.read_csv(r'C:\Md Shahid\Liabilities\Machine Learning Projects\Movie Recommendation System\data\tmdb_5000_credits.csv')
Movies = pd.read_csv(r'C:\Md Shahid\Liabilities\Machine Learning Projects\Movie Recommendation System\data\tmdb_5000_movies.csv')

In [31]:
movies = Movies.merge(Credits, on='title')

Separting the columns which is useful for Recommendation
1. genres
2. homepage  >>>> X
3. id
4. keywords	
5. title	
6. overview
7. popularity	>>>> X
8. production_companies  >>>> X	
9. spoken_languages	  >>>> X
10. status  >>>> X
11. tagline  >>>> X
12. vote_average
13. cast	
14. crew

In [32]:
movies = movies[['genres','id','keywords','title','overview','vote_average','cast','crew']]

In [33]:
movies.isnull().sum()

genres          0
id              0
keywords        0
title           0
overview        3
vote_average    0
cast            0
crew            0
dtype: int64

In [34]:
movies.dropna(inplace=True)

In [35]:
movies.duplicated().sum()

np.int64(0)

In [36]:
movies.iloc[0][0]

C:\Users\shahi\AppData\Local\Temp\ipykernel_12668\2105571223.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies.iloc[0][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [37]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [38]:
movies['genres'] = movies['genres'].apply(convert)

In [39]:
movies['keywords'] = movies['keywords'].apply(convert)

In [40]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [41]:
def convert(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [42]:
movies['cast'] = movies['cast'].apply(convert)

In [43]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [44]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [45]:
movies['crew'][0]

['James Cameron']

In [46]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [53]:
movies['overview'] = movies['overview'].apply(lambda x: x.split('.')[0])

In [52]:
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(' ', '_') for i in x])

In [54]:
movies['title'] = movies['title'].apply(lambda x : x.replace(' ', '_'))

In [55]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(' ', '_') for i in x])

In [56]:
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(' ', '_') for i in x])

In [57]:
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(' ', '_') for i in x])

In [58]:
movies.head()

,genres,id,keywords,title,overview,vote_average,cast,crew
0,"[Action, Adventure, Fantasy, Science_Fiction]",19995,"[culture_clash, future, space_war, space_colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",7.2,"[Sam_Worthington, Zoe_Saldana, Sigourney_Weaver]",[James_Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug_abuse, exotic_island, east_india_...",Pirates_of_the_Caribbean:_At_World's_End,"Captain Barbossa, long believed to be dead, ha...",6.9,"[Johnny_Depp, Orlando_Bloom, Keira_Knightley]",[Gore_Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based_on_novel, secret_agent, sequel, mi...",Spectre,A cryptic message from Bondâ€™s past sends him o...,6.3,"[Daniel_Craig, Christoph_Waltz, LÃ©a_Seydoux]",[Sam_Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc_comics, crime_fighter, terrorist, secret_i...",The_Dark_Knight_Rises,Following the death of District Attorney Harve...,7.6,"[Christian_Bale, Michael_Caine, Gary_Oldman]",[Christopher_Nolan]
4,"[Action, Adventure, Science_Fiction]",49529,"[based_on_novel, mars, medallion, space_travel...",John_Carter,"John Carter is a war-weary, former military ca...",6.1,"[Taylor_Kitsch, Lynn_Collins, Samantha_Morton]",[Andrew_Stanton]

In [66]:
movies['overview'] = list(movies['overview'])

In [67]:
type(movies['overview'])

pandas.core.series.Series

In [68]:
type(movies['keywords'])

pandas.core.series.Series

In [70]:
# Converting columns to string

movies['tags'] = (
    movies['overview'].astype(str) + " " +
    movies['genres'].astype(str) + " " +
    movies['keywords'].astype(str) + " " +
    movies['cast'].astype(str) + " " +
    movies['crew'].astype(str)
)

In [73]:
movies.head()

,genres,id,keywords,title,overview,vote_average,cast,crew,tags
0,"[Action, Adventure, Fantasy, Science_Fiction]",19995,"[culture_clash, future, space_war, space_colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",7.2,"[Sam_Worthington, Zoe_Saldana, Sigourney_Weaver]",[James_Cameron],"In the 22nd century, a paraplegic Marine is di..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug_abuse, exotic_island, east_india_...",Pirates_of_the_Caribbean:_At_World's_End,"Captain Barbossa, long believed to be dead, ha...",6.9,"[Johnny_Depp, Orlando_Bloom, Keira_Knightley]",[Gore_Verbinski],"Captain Barbossa, long believed to be dead, ha..."
2,"[Action, Adventure, Crime]",206647,"[spy, based_on_novel, secret_agent, sequel, mi...",Spectre,A cryptic message from Bondâ€™s past sends him o...,6.3,"[Daniel_Craig, Christoph_Waltz, LÃ©a_Seydoux]",[Sam_Mendes],A cryptic message from Bondâ€™s past sends him o...
3,"[Action, Crime, Drama, Thriller]",49026,"[dc_comics, crime_fighter, terrorist, secret_i...",The_Dark_Knight_Rises,Following the death of District Attorney Harve...,7.6,"[Christian_Bale, Michael_Caine, Gary_Oldman]",[Christopher_Nolan],Following the death of District Attorney Harve...
4,"[Action, Adventure, Science_Fiction]",49529,"[based_on_novel, mars, medallion, space_travel...",John_Carter,"John Carter is a war-weary, former military ca...",6.1,"[Taylor_Kitsch, Lynn_Collins, Samantha_Morton]",[Andrew_Stanton],"John Carter is a war-weary, former military ca..."

In [75]:
new_df = movies[['id', 'title', 'tags']]

In [77]:
new_df.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates_of_the_Caribbean:_At_World's_End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The_Dark_Knight_Rises,Following the death of District Attorney Harve...
4,49529,John_Carter,"John Carter is a war-weary, former military ca..."

In [78]:
new_df['tags'].head()[0]

"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization ['Action', 'Adventure', 'Fantasy', 'Science_Fiction'] ['culture_clash', 'future', 'space_war', 'space_colony', 'society', 'space_travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien_planet', 'cgi', 'marine', 'soldier', 'battle', 'love_affair', 'anti_war', 'power_relations', 'mind_and_soul', '3d'] ['Sam_Worthington', 'Zoe_Saldana', 'Sigourney_Weaver'] ['James_Cameron']"

In [79]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\shahi\AppData\Local\Temp\ipykernel_12668\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [81]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates_of_the_Caribbean:_At_World's_End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The_Dark_Knight_Rises,following the death of district attorney harve...
4,49529,John_Carter,"john carter is a war-weary, former military ca..."

In [98]:
# CountVectorization

from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=5000, stop_words='english')

In [99]:
vectores = vectorizer.fit_transform(new_df['tags']).toarray()

In [100]:
vectorizer.get_feature_names_out()

array(['000', '007', '10', ..., 'zombie_apocalypse', 'zoo',
       'zooey_deschanel'], shape=(5000,), dtype=object)

In [92]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [93]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [96]:
new_df['tags'] = new_df['tags'].apply(stem)
new_df.head()

C:\Users\shahi\AppData\Local\Temp\ipykernel_12668\2811961144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates_of_the_Caribbean:_At_World's_End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The_Dark_Knight_Rises,follow the death of district attorney harvey d...
4,49529,John_Carter,"john carter is a war-weary, former militari ca..."

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectores)

In [102]:
vectores.shape

(4806, 5000)

In [103]:
similarity.shape

(4806, 4806)

In [119]:
similarity

array([[1.        , 0.0836242 , 0.07161149, ..., 0.08268982, 0.        ,
        0.        ],
       [0.0836242 , 1.        , 0.07784989, ..., 0.04494666, 0.        ,
        0.        ],
       [0.07161149, 0.07784989, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.08268982, 0.04494666, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]], shape=(4806, 4806))

In [123]:
def recommend(movie):
    movie_i = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_i]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]]['title'])

In [124]:
new_df[new_df['title'] == 'Avatar'].index[0]

np.int64(0)

In [144]:
recommend('John_Carter')

The_Other_Side_of_Heaven
Escape_from_Planet_Earth
Damnation_Alley
Riddick
Star_Trek:_Insurrection

In [147]:
import pickle

pickle.dump(new_df.to_dict(), open('movies.pkl', 'wb'))

In [148]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))